img {
    border: 0;
    
}
li {
    list-style: none;
}
#class_pic {
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
}

#class_pic ul {
    width: 100%;
    height: 180px;
    position: relative;
}

#class_pic ul li {
    position: absolute;
    height: 180px;
    width: 18%;
    cursor: pointer;
    
}

#class_pic ul li img {
    position: relative;
    width: 100%;
}

#class_pic ul .class_pic1 {
    opacity: 0.5;
    left: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic ul .class_pic2 {
    opacity: 1;
    left: 20%;
    z-index: 2;
    top: 0;
}

#class_pic ul .class_pic3 {
    opacity: 1;
    left:39%;
    z-index: 3;
    top: 0;
}

#class_pic ul .class_pic4 {
    opacity: 1;
    left: 58%;
    z-index: 4;
    top: 0;
}

#class_pic ul .class_pic5 {
    opacity: 0.5;
    right: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic ul li.class_pic1 img {
    width: 80%;
}

#class_pic ul li.class_pic2 img {
    width: 100%;
}

#class_pic ul li.class_pic3 img {
    width: 100%;
}

#class_pic ul li.class_pic4 img {
    width: 100%;
}

#class_pic ul li.class_pic5 img {
    width: 80%;
}
.prev,.next{
    position: absolute;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prev:hover,.next:hover{
    background: #17499E;
}
.prev img,.next img{
    width: 20px;
    height: 20px;
}
.prev{
    left: 11%;
    top: 70px;
    z-index: 888;
   
}
.next{
    right: 15%;
    top: 70px;
}



#class_pic_1 {
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
    z-index: 2;
    margin-top: 20px;
}

#class_pic_1 ul {
    width: 100%;
    height: 180px;
    position: relative;
}

#class_pic_1 ul li {
    position: absolute;
    height: 180px;
    width: 18%;
    cursor: pointer;
    
}

#class_pic_1 ul li img {
    position: relative;
    width: 100%;
}

#class_pic_1 ul .class_pic1_1 {
    opacity: 0.5;
    left: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic_1 ul .class_pic2_1 {
    opacity: 1;
    left: 20%;
    z-index: 2;
    top: 0;
}

#class_pic_1 ul .class_pic3_1 {
    opacity: 1;
    left:39%;
    z-index: 3;
    top: 0;
}

#class_pic_1 ul .class_pic4_1 {
    opacity: 1;
    left: 58%;
    z-index: 4;
    top: 0;
}

#class_pic_1 ul .class_pic5_1 {
    opacity: 0.5;
    right: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic_1 ul li.class_pic1_1 img {
    width: 80%;
}

#class_pic_1 ul li.class_pic2_1 img {
    width: 100%;
}

#class_pic_1 ul li.class_pic3_1 img {
    width: 100%;
}

#class_pic_1 ul li.class_pic4_1 img {
    width: 100%;
}

#class_pic_1 ul li.class_pic5_1 img {
    width: 80%;
}

.prev_1,.next_1{
    position: absolute;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prev_1:hover,.next_1:hover{
    background: #17499E;
}
.prev_1 img,.next_1 img{
    width: 20px;
    height: 20px;
}
.prev_1{
    left: 11%;
    top: 70px;
    z-index: 888;
   
}
.next_1{
    right: 15%;
    top: 70px;
}


#class_pic_2 {
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
    z-index: 2;
    margin-top: 20px;
}

#class_pic_2 ul {
    width: 100%;
    height: 180px;
    position: relative;
}

#class_pic_2 ul li {
    position: absolute;
    height: 180px;
    width: 18%;
    cursor: pointer;
    
}

#class_pic_2 ul li img {
    position: relative;
    width: 100%;
}

#class_pic_2 ul .class_pic1_2 {
    opacity: 0.5;
    left: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic_2 ul .class_pic2_2 {
    opacity: 1;
    left: 20%;
    z-index: 2;
    top: 0;
}

#class_pic_2 ul .class_pic3_2 {
    opacity: 1;
    left:39%;
    z-index: 3;
    top: 0;
}

#class_pic_2 ul .class_pic4_2 {
    opacity: 1;
    left: 58%;
    z-index: 4;
    top: 0;
}

#class_pic_2 ul .class_pic5_2 {
    opacity: 0.5;
    right: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic_2 ul li.class_pic1_2 img {
    width: 80%;
}

#class_pic_2 ul li.class_pic2_2 img {
    width: 100%;
}

#class_pic_2 ul li.class_pic3_2 img {
    width: 100%;
}

#class_pic_2 ul li.class_pic4_2 img {
    width: 100%;
}

#class_pic_2 ul li.class_pic5_2 img {
    width: 80%;
}

.prev_2,.next_2{
    position: absolute;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prev_2:hover,.next_2:hover{
    background: #17499E;
}
.prev_2 img,.next_2 img{
    width: 20px;
    height: 20px;
}
.prev_2{
    left: 11%;
    top: 70px;
    z-index: 888;
   
}
.next_2{
    right: 15%;
    top: 70px;
}


/*播放按钮设置成宽高一致，圆形，居中*/
.video_player .vjs-custom-skin > .video-js .vjs-big-play-button {
    background-color: rgba(0,0,0,0.45);
    font-size: 3.5em;
    border-radius: 50%;
    height: 2em !important;
    line-height: 2em !important;
    margin-top: 60px !important;
    margin-left: 160px !important;
    width: 2em !important;
    outline: none;
  }
   
  
  .video_r_l_b_b .vjs-custom-skin > .video-js .vjs-big-play-button {
    background-color: rgba(0,0,0,0.45);
    font-size: 3.5em;
    border-radius: 50%;
    height: 40px !important;
    line-height: 40px!important;
    margin-top: 10px !important;
    margin-left: 50px !important;
    width: 40px !important;
    outline: none;
  }
  