.index_content
    width 100%;
    height 100%;
    overflow-y auto;
    .video-js .vjs-big-play-button 
        top 40%!important;
        left 40%!important;

    background white;
    .menu_row
        background white;
        .menu_list
            display flex;
            width $mainWidth;
            margin-left $mainLeft;
            .first_menu_box
                position relative;
                width 238px;
                background #17499E;
                text-align center;
                height 40px;
                font-size $titleFontSize;
                line-height 40px;
                color white;
                border-radius 10px 10px 0 0;
                cursor pointer;
                .sub_menu
                    position absolute;
                    z-index 5;
                    top 40px;
                    width 100%;
                    height 420px;
                    background rgba(0,0,0,.7);
                    .sub_menu_view
                        position relative;
                        .sub_menu_box
                            height 60px;
                            display flex;
                            align-items center;
                            justify-content: space-between;
                            cursor pointer;
                            span 
                                font-size $titleFontSize;
                                margin-left 10px;
                            img 
                                width 20px;
                                height 20px;
                                margin-right 10px;
                        .sbu_menu_child
                            position absolute;
                            display none;
                            opacity 0;
                            background rgba(0,0,0,.7);
                            border-radius 10px;
                            width 260px;
                            left 238px;
                            top 0;

                            transition: opacity 1s;
                            -moz-transition: opacity 1s; /* Firefox 4 */
                            -webkit-transition: opacity 1s; /* Safari 和 Chrome */
                            -o-transition: opacity 1s; /* Opera */

                            .child_list
                                cursor pointer;
                                height 60px;
                                display flex;
                                align-items center;
                                justify-content center;

                            .child_list:first-child
                                border-radius 10px 10px 0 0;
                            .child_list:last-child
                                border-radius 0 0 10px 10px; 
                        .sub_menu_box:hover
                            background  #454546;
                            margin-left 0;
                            width 100%;
                            span 
                                margin-left 10px;
                            img 
                                margin-right 5px;   
                        .sub_menu_box:hover + .sbu_menu_child
                            opacity 1; 
            .second_menu_box
                width calc(100% - 238px);
                display flex;
                align-items center;
                .menu_box
                    width:120px;
                    height 40px;
                    text-align:center;
                    font-size $commonFontSize;
                    line-height 40px;
                    cursor pointer;
                .menu_box:hover
                    span
                        color $themColor;
                        border-bottom 2px solid $themColor;
                        padding-bottom 5px;    
                .menu_on
                    color $themColor;
                    border-bottom 2px solid $themColor;
                    padding-bottom 5px;   
    .banner_swiper
        height 420px;
        width 100%;
    .main_view
        width 100%;
        background white;
        .main_row
            width $mainWidth;
            margin-left $mainLeft;
            margin-top 50px;
            margin-bottom 50px;
            display flex;
            align-item center;
            justify-content: space-between;
            .main_box
                position relative;
                display flex;
                align-item center;
                //border 1px solid #A4A4A4;
                width 293px;
                height 174px;
                border-radius 20px;
                cursor pointer;
                top:0;
                box-shadow 0 10px 20px rgba(132,123,126,0);
                
                transition: top .5s , box-shadow .5s;
                -moz-transition: top .5s , box-shadow .5s; /* Firefox 4 */
                -webkit-transition: top .5s , box-shadow .5s; /* Safari 和 Chrome */
                -o-transition: top .5s , box-shadow .5s; /* Opera */

                .main_text
                    margin-top 30px;
                    margin-left 20px;
                    .main_title
                        font-size 25px;
                        letter-spacing 3px;
                        font-weight bold;
                    .main_subtitle
                        font-size 16px;
                        letter-spacing 1px;  
                        font-weight bold;
                        margin-top 5px;
                    .main_btn
                        width 60px;
                        height 20px;
                        line-height 20px;
                        border-radius 20px;
                        text-align center;
                        border 1px solid red;
                        font-size 15px;
                        font-weight bold;
                        margin-top 10px;
                .main_img
                    width 293px;
                    height 174px;
                    position: absolute;
                    right 0;
                    top 0;
                    border-radius 10px; 
                    img 
                        //width 132px;  
                        width 293px;
                        height 174px;
                        border-radius 10px; 
            .main_box:hover
               top:-10px;
               box-shadow 0 10px 20px rgba(132,123,126,1);
                
    .form_view
        width 100%;
        background white;
        .form_row 
            width $mainWidth;
            margin-left $mainLeft;
            margin-bottom 50px;
            .form_title
                text-align center;
                font-size $titleFontSize;
                letter-spacing 2px;
                span 
                    color $themColor;
            .f_i_r
                display flex;
                align-items center;
                justify-content center;
                margin-top 20px;
                input 
                    border 1px solid #A4A4A4;
                    height 40px;
                    padding-left 10px;
                    width 420px;
                    margin-right 30px;
                    border-radius 10px;
                    font-size $commonFontSize;
                    outline-color: invert ;
                    outline-style: none ;
                    outline-width: 0px ;
                    text-shadow: none ;
                    -webkit-appearance: none ;
                    -webkit-user-select: text ;
                    outline-color: transparent ;
                    box-shadow: none;
                button 
                    height 42px;
                    background $themColor;
                    border none;
                    border-radius 10px;
                    color white;
                    width 180px;
                    font-size $commonFontSize
                    outline: none;
                    cursor pointer;
    .hot_class
        width 100%;
        background #1A1B20;
        height 800px;
        overflow hidden;
        .class_view
            width $mainWidth;
            margin-left $mainLeft; 
            .class_title
                display flex;
                align-items center;
                justify-content: space-between;
                border-bottom 1px solid white;
                margin-top 10px;
                height 78px;
                .title_left
                    overflow hidden;
                    margin-left 20px;
                    div:first-child
                        display none;
                        font-size $bigTitleFontSize;
                        color white;
                        letter-spacing 3px;
                    div:nth-of-type(2)
                        display none;
                        font-size 12px;
                        color white;
                        margin-top 5px;
                    .title_left_bottom_line
                        display none;
                        align-items center;
                        justify-content: center;
                        margin-top 15px;
                        span  
                            width 50px;
                            height 4px;
                            background $themColor;
                .title_right
                    margin-right 20px;
                    overflow hidden;
                    div:first-child
                        display none;
                        color white;
                        text-align right;
                        font-size $commonFontSize;
                        cursor pointer;
                    div:last-child
                        display none;
                        font-size $commonFontSize;
                        color white;
                        margin-top 5px;
            .class_content
                width calc(100% - 40px);
                margin-left 20px;
                display flex;
                justify-content: space-between;
                margin-top 30px;
                .class_left
                    overflow hidden;
                    width 200px;
                    .c_l_box
                        display none;
                        width 200px;
                        border-radius 0 20px 0 0;
                        height 180px;
                        margin-bottom 20px;
                        overflow hidden;
                        position relative;
                        .l_b_title
                            margin-top 20px;
                            margin-left 10px;
                            font-size 20px;
                            color white;
                        .l_b_subtitle
                            margin-left 10px;
                            font-size 14px;
                            color white;
                        .l_b_line
                            position absolute;
                            bottom 20px;
                            left 10px;
                            width 20px;
                            height 3px;
                            background white;
                        .l_b_img
                            position absolute;
                            width 100%;
                            top 0;
                            left 0;
                            img 
                                width 100%;
                .class-right
                    width calc(100% - 220px);
                    height 180px;
                    .c_swier_1:first-child
                        margin-top 0;
                    .c_swier_1
                        width 115%;
                        margin-top 20px;
    .teacher_row
        background white;   
        .teacher_row_content
            width $mainWidth;
            margin-left $mainLeft;  
            margin-top 50px;
        .teacher_title
            div:first-child
                font-size $bigTitleFontSize;
                letter-spacing 3px
            div:last-child 
                font-size $titleFontSize;          
        .teacher_list
            display flex;
            align-items center;
            justify-content: space-between;
            flex-wrap wrap;
            .row_b
                width 15%;
                height 318px;
                margin-top 30px;
                margin-right 3%;
                .teacher_box
                    width 100%;
                    height 318px;
                    position relative;
                    cursor pointer;
                    .t_avatar
                        width 100%;
                        height 318px;
                        .avatar_b
                            width 100%;
                            height 283px;
                            text-align center;
                            img 
                                width 100%;
                        .avatar_text
                            height 45px;
                            background #E9E9E9;
                            line-height 45px;
                            margin-top -5px;
                            font-weight bold;
                            span:first-child
                                font-size $titleFontSize;
                                margin-left 10px;
                            span:last-child 
                                font-size $commonFontSize;
                                color #999999;
                                margin-left 10px;
                    .t_info
                        display flex;
                        width 100%;
                        height 318px;
                        position absolute;
                        top 0;
                        left 0;
                        align-items center;

                        opacity:0;
                        background: rgba(234,104,6,0);

                        transition: background .5s , opacity .5s;
                        -moz-transition: background .5s , opacity .5s; /* Firefox 4 */
                        -webkit-transition: background .5s , opacity .5s; /* Safari 和 Chrome */
                        -o-transition: background .5s , opacity .5s; /* Opera */

                        .info_t_c
                            width:100%;
                            div
                                width calc(100% - 30px);
                                margin-left 15px;
                                text-align center;
                                color white;
                                font-size $commonFontSize;
                            div:first-child
                                margin-bottom 5px;
                            div:last-child
                                margin-top 5px;
                            .t_info_line
                                width calc(100% - 100px);
                                margin-left 50px;
                                margin-top 30px;
                                margin-bottom 30px;
                                height 4px;
                                background white;    
                .teacher_box:hover
                    .t_info
                       
                        opacity:1;
                        background: rgba(234,104,6,.9);
    .video_row
        width 100%;
        background white;
        .video_main
            width $minMainWidth;
            margin-left $minMainLeft;
            margin-top 50px;
            .video_big_title
                text-align center;
                .b_t_1
                    font-size $bigTitleFontSize;
                .b_t_2
                    font-size $titleFontSize;
                    color #666666;
                    margin-top 10px;
            .v_m_c
                width calc(100% - 80px);
                margin-left 40px;
                display flex;
                align-items center;
                margin-top 30px;
                .video_left
                    width 600px;
                    height 400px;
                    background #F5F5F5;
                    border 1px solid #AFAFAF;
                    overflow hidden;
                    .video_title
                        display flex;
                        justify-content: space-between;
                        width calc(100% - 30px);
                        margin-left 15px;
                        margin-top 15px;
                        span:first-child
                            font-size $titleFontSize;
                        span:last-child 
                            font-size $commonFontSize;
                            color #999999;
                            cursor pointer;
                    .video_c
                        display flex;
                        align-items center;
                        width calc(100% - 30px);
                        margin-left 15px;
                        margin-top 20px;
                        .video_player
                            width 500px;
                            height 280px;
                            border-radius 10px;
                            position relative;
                            .video_img 
                                width 100%;
                                height 280px;
                                position absolute;
                                border-radius 10px;
                        .video_list 
                            width 200px;
                            height 280px;
                            margin-left 10px;
                            .video_r_l
                                height 280px;
                                .video_r_l_b
                                    height 110px;
                                    margin-bottom 10px;
                                    border-radius 10px;
                                    position relative;
                .video_right
                    background #F5F5F5;
                    border 1px solid #AFAFAF;
                    overflow hidden;
                    height 400px;
                    width calc(100% - 600px);
                    margin-left 10px;
                    .v_right_b 
                        width calc(100% - 40px);
                        margin-left 20px;
                        margin-top 20px;
                        .v_right_t
                            display flex;
                            justify-content: space-between;
                            span:first-child
                                font-size $titleFontSize;
                            span:last-child 
                                font-size $commonFontSize;
                                color #999999;
                        .v_right_r_1
                            display flex;
                            margin-top 20px;
                            .r_1_i
                                width 180px;
                                height 120px;
                            .r_1_t
                                width calc(100% - 190px);
                                margin-left 10px;
                                .r_1_t_t
                                    font-size $titleFontSize;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp:1;
                                    -webkit-box-orient: vertical;
                                .r_1_t_c
                                    line-height 25px;
                                    margin-top 10px;
                                    color #666666;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp:3;
                                    -webkit-box-orient: vertical;
                        .r_l_l
                            margin-top 10px;
                            margin-bottom 10px;   
                            overflow scroll;
                            height 190px;
                            div
                                margin-top 15px;             
    .midd_add
        width 100%;
        background #4963EB;
        margin-top:60px;
        .midd_b
            display flex;
            align-items center;
            justify-content: space-between;
            width $minMainWidth;
            margin-left $minMainLeft;
            height 150px;
            .img_box
                width 90px;
                margin-top 10px;
                img 
                    width 100%;
            .text_box
                div
                    font-size $bigTitleFontSize;
                    color white;     
            .btn_box
                width 200px;
                height 50px;
                text-align center;
                line-height 50px;
                font-size 20px;
                color $themColor;
                background #F6EF26;
                border-radius 10px;    
                cursor pointer;   
    .occupation
        width 100%;
        background white;
        .occupation_content 
            width 100%;
            .o_title
                margin-top 40px;
                font-size $bigTitleFontSize;
                text-align center;
            .o_subtitle
                margin-top 5px;
                font-size $titleFontSize;
                text-align center;
                color #666666
            .o_row
                width 100%;
                background #000000;
                margin-top 10px;
                overflow hidden;
                .o_list
                    width $minMainWidth;
                    margin-left $minMainLeft;
                    display flex;
                    align-items center;
                    justify-content: space-between;
                    flex-wrap wrap;
                    margin-top 30px;
                    .o_box
                        width 22%;
                        margin-bottom 30px;
                        cursor pointer;
                        .o_img
                            width 100%;
                            img 
                                width 100%;
                        .o_text 
                            height 30px;
                            line-height 30px;
                            background white;
                            text-align center;
                            margin-top -5px;
    .student_content
        width 100%;
        background white;
        overflow hidden;
        .student_main 
            width $minMainWidth;
            margin-left $minMainLeft;
            .student_title 
                text-align center;
                font-size $bigTitleFontSize;
                margin-top 40px;
            .student_list
                display flex;
                align-items center;
                justify-content: space-between;
                flex-wrap wrap;
                margin-top 30px;
                .student_box 
                    width 22%;
                    margin-bottom 30px;
                    background #F6F6F6;
                    box-shadow 0 5px 6px #999999;
                    .student_a
                        width calc(100% - 20px);
                        margin 10px;
                        height 330px;
                        overflow hidden;
                        img 
                            width 100%;
                            height 330px;
                    .student_i
                        padding-bottom 15px;
                        div
                            text-align center;
                            width calc(100% - 20px);
                            margin-left 10px;
                        .student_n
                            font-size 25px;
                            color #666666
                        .student_p
                            font-size 16px;
                            color #666666;
                            margin-top 5px;
                        .student_m
                            font-size 25px;
                            color #FD0000;
                            margin-top 5px;
    .welfare
        width 100%;
        background #272731;
        overflow hidden;
        .welfare_content
            width $minMainWidth;
            margin-left $minMainLeft; 
            .welfare_title
                text-align center;
                margin-top 40px;
                color white;
                div:first-child
                    font-size $bigTitleFontSize;
                    letter-spacing 3px;
                div:last-child    
                    font-size $commonFontSize;
                    margin-top 10px;
            .welfare_row
                display flex;
                align-items center;
                justify-content: space-between;
                flex-wrap wrap;
                margin-top 30px;
                .welfare_box
                    width 30%;
                    background white;
                    margin-bottom 30px;
                    .welfare_img
                        width 100%;
                        img 
                            width 100%;
                    .welfare_text
                        text-align center;
                        margin-top 10px;
                        width calc(100% - 80px);
                        margin-left 40px;
                        div:first-child
                            font-size 20px;
                        div:last-child 
                            font-size $commonFontSize;
                            margin-top 5px;
                            color #666666;
                            margin-bottom 20px;
    .enterprise
        width 100%;
        background white;
        overflow hidden;
        .enterprise_content
            width $minMainWidth;
            margin-left $minMainLeft; 
            .enterprise_title
                text-align center;
                margin-top 40px;
                font-size $bigTitleFontSize;
                letter-spacing 3px;
            .enterprise_list    
                display flex;
                align-items center;
                justify-content: space-between;
                flex-wrap wrap;
                margin-top 30px;
                .enterprise_box    
                    width 30%;
                    background white;
                    margin-bottom 30px;
                    .enterprise_img
                        width 100%;
                        img 
                            width 100%;
                    .enterprise_text
                        text-align center;
                        font-size $commonFontSize;
                        margin-top 15px;
                        margin-bottom 20px;
    .enroll
        width:100%;
        overflow hidden;
        position relative;
        .back_img
            width 100%
            position: absolute;
            z-index 0;
            top 0;
            left 0;
        .enroll_content
            position relative;
            z-index 2;
            width $minMainWidth;
            margin-left $minMainLeft; 
            display flex;
            justify-content: space-between;
            .enroll_left
                width 50%;
                margin-top 20px;
                .enroll_input
                    display flex;
                    margin-top 20px;
                    .enroll_label
                        font-size $commonFontSize;
                        color white;
                        width 80px;
                        text-align right;
                    input
                        height 30px;
                        width 300px;
                    input,textarea
                        margin-left 10px;
                        background #CACACA;
                        border 1px solid #FE0000;
                .enroll_btn
                    display flex;
                    align-items center;
                    margin-left 120px;
                    margin-top 10px;
                    margin-bottom 40px;
                    div
                        width 100px;
                        height 30px;
                        line-height 30px;
                        border-radius 30px;
                        text-align center;
                        cursor pointer;
                    div:first-child
                        background #FE0000;
                        color white; 
                    div:last-child
                        background #AFAFAF;
                        margin-left 60px;
            .enroll_right
                
                margin-top 20px;
                width 50%;
                display flex;
                justify-content flex-end;
                .enroll_right_content
                    margin-top 20px;
                    div
                        text-align center;
                    .enroll_t1
                        font-size 30px;
                        font-weight bold;
                        color white;
                    .enroll_t2 
                        font-size 40px;
                        font-weight bold;
                        color white;
                        margin-top 5px;
                        letter-spacing 3px;
                    .enroll_t3
                        font-size 18px;
                        background #FFCD00;
                        padding 2px 0;
                        margin-top 5px;
                    .enroll_t4
                        font-size 18px;
                        margin 20px;
                        color white;
                    .enroll_t5
                        display flex;
                        justify-content center;
                        .enroll_t5_b
                            padding 2px 10px;
                            border 1px solid #FFCE00;
                            display flex;
                            justify-content space-between;
                            cursor pointer;
                            span 
                                color white;
                                font-size 18px;
                                margin-right 5px;
                            img 
                                width 15px;
    .cooperation
        width 100%;
        background white;
        .cooperation_content
            width $minMainWidth;
            margin-left $minMainLeft; 
            .cooperation_title
                text-align center;
                margin-bottom 40px;
                div:first-child
                    margin-top 30px;
                    letter-spacing 3px;
                    font-size $bigTitleFontSize;
                div:last-child 
                    font-size $titleFontSize;
                    color #666666; 
            .cooperation_list
                //display flex;
                //justify-content: space-between;
                //flex-wrap wrap;
                //margin-top 20px;
                //.cooperation_box
                    //width 18%;
                    //margin-bottom 20px;
                    img 
                        width 100%;
    .bottom_navigation
        width 100%;
        background #F7F7F7;
        overflow hidden;
        .bottom_navigation_c
            width $minMainWidth;
            margin-left $minMainLeft;
            margin-top 20px;
            margin-bottom 20px;     
            .bottom_navigation_list
                display flex;
                align-items center;
                justify-content: space-between; 
                .bottom_navigation_box
                    width 18%;
                    display flex;
                    align-items center;
                    justify-content: center; 
                    .bottom_navigation_img
                        width 40px;
                        height 40px;
