.b_about    
    width 100%;
    .about_banner
        width 100%;
        height  500px;
        position relative;
        .about_banner_img
            width 100%;
            height 500px;
        .sub_img_content
            height 500px;
            width 100%;
            position absolute;
            display flex;
            align-items center;
            justify-content center;
            top 20px;
            left 20px;
            z-index 2;
            .img_content_view
                div
                    text-align center;
                div:first-child
                    img 
                        width 172px;    
                div:last-child
                    img 
                        width 427px;
                div:nth-of-type(2)
                    margin 60px 0;
    .about_text
        width 100%;
        margin-top 62px;
        .about_text_content
            width $minMainWidth;
            margin-left $minMainLeft;
            display flex;
            justify-content: space-between;
            .school_img
                width 48%;
                img 
                    width 100%;
            .school_text
                width 48%;
                .school_text_title 
                    width 100%;
                    border-left 3px solid #FF7F39;
                    padding-left 20px;
                    font-size $bigTitleFontSize;
                    font-weight bold;
                    margin-bottom 40px;
                .school_text_content_2,.school_text_content_1
                    font-size $commonFontSize;
                    line-height 28px;
                .school_text_content_2
                    margin-top 60px;    
    .about_history
        width 100%;
        margin-top 62px;
        background #FF7F39;  
        overflow hidden;
        padding-bottom 70px;
        .history_content
            margin-top 41px;
            width $minMainWidth;
            margin-left $minMainLeft;       
            .history_title
                text-align center;
                img 
                    width 144px;
            .history_subtitle
                text-align center;
                margin-top 10px;
                img 
                    width 301px;
            .history_box
                padding-top 41px;
                background white;
                margin-top 41px;
                padding-bottom 100px;
                .color_line
                    width 100%;
                    position relative;
                    img 
                        width 550px;
                    span 
                        position absolute;
                        left 15%;
                        top 15px;
                        color white;
                        font-size 36px;
                        font-weight bold;   
                        z-index 2; 
                .first_line,.third_line
                    img 
                        margin-left -30px;
                .second_line
                    margin-top 100px;
                    text-align right;
                    img 
                        margin-right -30px;
                    span    
                        right 15%;
                .third_line
                    margin-top 100px;
            .content_row
                width calc(100% - 240px);
                margin-left 120px;
                display flex;
                justify-content: space-between;
                .content_text
                    font-size $commonFontSize;
                    div 
                        margin-bottom 7px;
                        margin-left 40px;
                    div:last-child
                        margin-bottom 0;
                .first 
                    border-left 2px solid #FF3366;
                    height 78px;
                .second
                    text-align right;
                    border-right 2px solid #FF3366;
                    height 324px;
                    div
                        margin-right 40px;
                .third
                    height 324px;
                    border-left 2px solid #FF3366;
                .content_img
                    img:last-child
                        margin-left 30px;
    .about_design
        width 100%;
        background white;
        .design_cintent
            width $minMainWidth;
            margin-left $minMainLeft; 
            margin-top 64px;       
            .design_title
                font-size $bigTitleFontSize;  
                font-weight bold;      
                border-left 3px solid #FF7F39;
                padding-left 10px;
            .design_subtitle
                display flex;
                align-items center;    
                justify-content: space-between;
                margin 30px 0;
                .subtitle_text
                    width 800px;
                    font-size $commonFontSize;
                    line-height 25px;
                .design_handle_btn
                    display flex;
                    align-items center; 
                    div
                        width 80px;
                        height 30px; 
                        border:1px solid lightgray; 
                        display flex;
                        align-items center;
                        justify-content center;
                    div
                        img     
                            width 30px;
                    div:last-child
                        margin-left 10px;
                        
                    .btn_on
                        background #FC6C00;
                        border-color #FC6C00;
            .designer_list
                display flex;
                align-items center;
                justify-content: space-between;
                flex-wrap: wrap;
                .designer_box
                    width 23%;
                    margin-bottom 42px;
                    .designer_avatar
                        width 100%;
                        img     
                            width 100%;
                            border-radius 10px 10px 0 0;
                    .designer_text
                        border 1px solid lightgray;
                        margin-top -5px;
                        border-radius 0 0 10px 10px;
                        height 140px;
                        div
                            width calc(100% - 20px);
                            margin-left 10px;
                        .text_f
                            margin-top 10px;
                            span:first-child
                                font-size $titleFontSize;

                            span:last-child
                                font-size $commonFontSize;
                                color #999999    
                                margin-left 10px;
                        .text_s
                            margin-top 5px;
                            font-size $commonFontSize;
                            color #FF813B;
                        .text_t
                            margin-top 5px;
                            font-size $commonFontSize;
                            margin-bottom 10px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
    .about_dev
        width 100%;
        background #E57251;   
        overflow hidden;  
        .dev_content
            width $minMainWidth;
            margin-left $minMainLeft; 
            .dev_title
                text-align center;
                color white;
                font-size $bigTitleFontSize;
                font-weight bold;
                margin-top 34px;
            .dev_sub_1,.dev_sub_2
                font-size $commonFontSize;
                color white;
                text-align center;
                margin 10px 0;    
            .dev_img_list
                width calc(100% - 120px);
                margin-left 60px;
                margin-top 55px;
                margin-bottom 48px;
                display flex;
                align-items center;
                justify-content: space-between;    
                .dev_img_box
                    width 32%;
                    position relative;
                    img     
                        width 100%;   
                    span 
                        width 100%;
                        z-index 2;
                        left 30%;
                        position absolute;
                        bottom 25px;
    .about_science
        width 100%;
        background white;
        overflow hidden;
        .science_content
            width $minMainWidth;
            margin-left $minMainLeft; 
            margin-top 40px;
            .science_title
                display flex;
                align-items center;
                span:first-child
                    font-size $bigTitleFontSize;
                    font-weight bold;
                    border-left 3px solid #FF7F39;
                    padding-left 10px;
                span:last-child 
                    font-size $titleFontSize;
                    color #999999;
                    margin-left 10px;
            .scie_row
                display flex;
                align-items center;
                justify-content: space-between;
            .first
                margin-top 40px; 
                margin-bottom 10px;    
                div:first-child
                    width 50%;
                    display flex;
                    align-items center;
                    margin-right 10px;
                    img 
                        width calc(50% - 5px);
                    img:last-child
                        margin-left 10px;
                div:last-child
                    width 50%;
                    img 
                        width 100%;
            .second    
                div:last-child
                    width 50%;
                    display flex;
                    align-items center;
                    margin-left 10px;
                    img 
                        width calc(50% - 5px);
                    img:last-child
                        margin-left 10px;
                div:first-child
                    width 50%;
                    img 
                        width 100%;
    .about_emp
        width 100%;
        background white;
        .emp_content
            width $minMainWidth;
            margin-left $minMainLeft; 
            margin-top 40px;
            .emp_title
                display flex;
                align-items center;
                justify-content:space-between;
                .middle_en
                    width 40%;
                    text-align center;
                    font-size $bigTitleFontSize;
                    color #999999
                .left_line,.right_line
                    background #999999;
                    width 30%;
                    height 2px;
            .emp_sub
                text-align center;
                font-size $bigTitleFontSize;
                font-weight bold;
                margin-top 10px;
            .emp_text
                text-align center;
                margin-top 40px;
                font-size $commonFontSize;
                color #666666;
                margin-bottom 40px;

                
                
            
    