.b_bottom
    width 100%;
    .b_first_row
        overflow hidden;
        background $bottomBg;
        .b_f_r_c
            width $mainWidth;
            margin-left $mainLeft;
            display flex;
            align-items: center;
            justify-content: space-between;
            margin-top 60px;
            margin-bottom 20px;
            .f_l
                width 400px;
                margin-left 90px;
                .f_l_t
                    position relative;
                    font-size $titleFontSize;
                    color $bottomFontColor;
                    font-weight bold;
                    letter-spacing 4px;
                    margin-bottom 40px;
                    .line
                        display block;
                        width 65px;
                        height 4px;
                        background $bottomFontColor;
                        margin-top 5px;
                .f_l_r
                    display flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top 20px;
                    width 50%;
                    span 
                        width:50%;
                        text-align center;
                        font-size $commonFontSize;
                        color #cccccc;
                        cursor pointer;
                    span:hover
                        color white;
            .f_m
                display flex;
                align-items: center;
                justify-content: space-between;
                width 300px;
                .f_m_c
                    width 40%;
                    img 
                        width 100%;
                    div
                        text-align center;
                        color white;
            .f_r
                width 300px;
                .tel
                    display flex;
                    align-items: center;
                    img 
                        width 20px;
                        height 20px;
                    span 
                        font-size $titleFontSize;
                        font-weight bold;
                        color white; 
                        margin-left 10px;
                        letter-spacing 6px;
                .tel_num
                    font-size 28px;
                    font-weight bold;
                    color $bottomFontColor;
                    margin-top 10px;
                    letter-spacing 2px;
    .b_second_row
        display flex;
        align-items: center;
        justify-content: center;
        width 100%;
        background $bottomBg1;
        height 38px;
        span 
            color white;
            font-size $commonFontSize;
        .m_s
            margin-left 30px;
            margin-right 5px;
        img 
            width 15px;
            height 15px;
                   
