img {
    border: 0;
}
li {
    list-style: none;
    
}
#class_pic {
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
}

#class_pic ul {
    width: 100%;
    height: 180px;
    position: relative;
}

#class_pic ul li {
    position: absolute;
    height: 180px;
    width: 18%;
    cursor: pointer;
    
}

#class_pic ul li img {
    position: relative;
    width: 100%;
}

#class_pic ul .class_pic1 {
    opacity: 0.5;
    left: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic ul .class_pic2 {
    opacity: 1;
    left: 20%;
    z-index: 2;
    top: 0;
}

#class_pic ul .class_pic3 {
    opacity: 1;
    left:39%;
    z-index: 3;
    top: 0;
}

#class_pic ul .class_pic4 {
    opacity: 1;
    left: 58%;
    z-index: 4;
    top: 0;
}

#class_pic ul .class_pic5 {
    opacity: 0.5;
    right: 10%;
    z-index: 0;
    top: 18px;
}

#class_pic ul li.class_pic1 img {
    width: 80%;
}

#class_pic ul li.class_pic2 img {
    width: 100%;
}

#class_pic ul li.class_pic3 img {
    width: 100%;
}

#class_pic ul li.class_pic4 img {
    width: 100%;
}

#class_pic ul li.class_pic5 img {
    width: 80%;
}
