.consult_container
    position: fixed; 
    right 10px;
    top 45vh;
    z-index 9999
    .consult_content
        background white;
        box-shadow 0 0 10px black;
        width 80px;
        display flex;
        align-items center;
        justify-content center;
        padding-bottom 20px;
        .consult_box
            .consult_img_box
                position relative;
                width 60px;
                margin-top 20px;
                cursor pointer;
                text-align center;
                img 
                    width 50%;
                .hover_img
                    position absolute;
                    display none;
                    left -115px;
                    top -30px;
                    width 100px;
                    height 100px;
                .tel_box
                    position absolute;
                    display none;
                    top -10px;
                    left -220px;
                    width 200px;
                    height 60px;
                    line-height 60px;
                    background #AE1C1C;
                    color white;
                    font-size 18px;
                    align-items center;
                    justify-content center;
                    img 
                        width 20px;
                        margin-top -2px;
                        margin-left 10px;

            .consult_img_box:first-child
                img 
                    width 100%;
            .consult_img_box:hover
                .hover_img
                    display block;
                .tel_box
                    display flex;

