.b_header
    position fixed;
    top 0;
    left 0;
    z-index 10;
    background $themColor;
    width 100%;
    height 38px;
    .b_header_main
        width $mainWidth;
        margin-left $mainLeft;
        display flex;
        align-items center;
        justify-content space-between;
        .b_header_menu
            display flex;
            align-items center;
            span 
                color white;
                font-size $commonFontSize;
                cursor pointer;
            span:first-child
                padding-right 10px;
                border-right 1px solid white;
                height 10px;
                line-height 10px;
            span:last-child
                height 10px;
                line-height 10px;
                padding-left 10px;
        .b_header_contact
            display flex;
            align-items center;
            height 38px
            .contact_box
                display flex;
                align-items center;
                cursor pointer;
                img
                    width 18px;
                    height 18px;
                    margin-right 5px
                    margin-top 2px;
                span
                    color white;
                    font-size $commonFontSize;
            .contact_box:first-child
                margin-right 20px;
            .contact_box:first-child 
                img 
                    width 12px;

