.b_s_header
    width 100%;
    background white;
    margin-top 58px;
    .s_h_main
        margin-top 38px;
        width $mainWidth;
        margin-left $mainLeft;
        display flex;
        align-items: center;
        justify-content: space-between;
        margin-top 20px;
        margin-bottom 20px;
        .h_logo
            display flex;
            align-items: center;
            width 320px;
            img 
                width 62px;
                height 60px;
            .n_box
                margin-left 10px;
                .name
                    font-size $titleFontSize;
                    font-weight bold;
                    letter-spacing 3px;
                .sub_name
                    font-size 20px;
                    color #FE1D1D;
                    font-weight bold;
                    letter-spacing 3px;
        .h_search
            .input_row
                display flex;
                align-items: center;
                border 1px solid $themColor;
                width 570px;
                height 30px;
                input 
                    width calc(100% - 60px);
                    border none;
                    height 30px;
                    font-size $commonFontSize;
                    margin-left 10px;
                    outline-color: invert ;
                    outline-style: none ;
                    outline-width: 0px ;
                    border: none ;
                    border-style: none ;
                    text-shadow: none ;
                    -webkit-appearance: none ;
                    -webkit-user-select: text ;
                    outline-color: transparent ;
                    box-shadow: none;
                input:-webkit-autofill,select:-webkit-autofill {  
                    -webkit-box-shadow: 0 0 0px 1000px white  inset !important;  
                } 
                .search_btn
                    background $themColor;
                    width 50px;
                    height 30px;
                    text-align center;
                    cursor pointer;
                    img 
                        width 30px;
                        height 30px;
            .h_search_item
                display flex;
                align-items: center;
                margin-top 5px;
                .item_box
                    font-size 13px;
                    border-left 1px solid #999999;
                    height 15px;
                    line-height 15px;
                    padding 0 20px;
                    cursor pointer;
                    color #666666;
                .item_box:first-child
                    border none;
                    padding-right 20px;
                    padding-left 0;
        .h_tel
            width 240px;
            div
                color $themColor;
                text-align center;
            .tel_title
                letter-spacing 3px;
                font-size $titleFontSize;
            .tel_num
                font-size 30px;