* {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}
html,
body,
#app{
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0 !important;
  }
  ::-webkit-scrollbar {
    width: 0 !important;height: 0;
  }
.home_container{
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
}



