
<template>
  <div class="b_index" ref="main">
    <div class="position-box"></div>
    <!-- 顶部 -->
    <header-view></header-view>
    <!-- 搜索栏 -->
    <search-header></search-header>
      <!-- 首页主内容 -->
      <div class="index_content">
      <!-- 菜单栏 -->
      <div class="menu_row">
        <div class="menu_list">
          <div class="first_menu_box" @click="showSubMenu">
            <span>热门课程</span>
            <div class="sub_menu" v-if="isSubMenuShow" @mouseleave="handleLeave">
              <div class="sub_menu_view" v-for="(item,index) in subMenuList" :key="item.value">
                <div class="sub_menu_box" :style="{background:currentSubMenu==index?'#454546':'none'}"  @mouseover="changeChildMenu1(index)">
                  <span>{{ item.name }}</span>
                  <img src="../assets/images/index/09.png" alt="" />
                </div>
                <div class="sbu_menu_child" :style="{opacity:currentSubMenu==index?1:0,display:currentSubMenu==index?'block':'none'}">
                  <div class="child_list" v-for="(child,cindex) in item.childList" 
                  :style="{background:currentChildMenu==cindex?'#454546':'none'}" 
                  :key="cindex" @mouseover="changeChildMenu(cindex)">
                    <span>{{child.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="second_menu_box">
            <div
              class="menu_box"
              v-for="item in menuList"
              :key="item.value"
              @click="changeMenu(item.value)"
            >
              <span :class="{ menu_on: currentMenu == item.value }">{{
                item.name
              }}</span>
            </div>
          </div>
        </div>
      </div>

      
      <!-- 首页内容 -->
      <div v-show="currentMenu==1">
        <!-- banner轮播 -->
        <div class="banner_swiper">
          <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(item,index) in  bannerList" :key="index">
                  <img :src="item.path" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div> 
          </div>
        </div>

        <!-- 入口 -->
        <div class="main_view">
          <div class="main_row">
            <div class="main_box">
              <!-- <div class="main_text">
                <div class="main_title" style="color: #ff9d0c">初中生 读大专</div>
                <div class="main_subtitle" style="color: #ff9d0c">
                  提前打算，先人一步
                </div>
                <div
                  class="main_btn"
                  style="color: #ff9d0c; border-color: #ff9d0c"
                >
                  GO >
                </div>
              </div> -->
              <div class="main_img">
                <img src="../assets/images/index/01.png" alt="" />
              </div>
            </div>
            <div class="main_box">
              <!-- <div class="main_text">
                <div class="main_title" style="color: #36b5cb">高中生入口</div>
                <div class="main_subtitle" style="color: #36b5cb">
                  高考学习新出路
                </div>
                <div
                  class="main_btn"
                  style="color: #36b5cb; border-color: #36b5cb"
                >
                  GO >
                </div>
              </div> -->
              <div class="main_img">
                <img src="../assets/images/index/02.png" alt="" />
              </div>
            </div>
            <div class="main_box">
              <!-- <div class="main_text">
                <div class="main_title" style="color: #e10cf3">大学生入口</div>
                <div class="main_subtitle" style="color: #e10cf3">做IT高薪族</div>
                <div
                  class="main_btn"
                  style="color: #e10cf3; border-color: #e10cf3"
                >
                  GO >
                </div>
              </div> -->
              <div class="main_img">
                <img src="../assets/images/index/03.png" alt="" />
              </div>
            </div>
            <div class="main_box">
              <!-- <div class="main_text">
                <div class="main_title" style="color: #122894">职场人</div>
                <div class="main_subtitle" style="color: #122894">
                  0基础推荐就业
                </div>
                <div
                  class="main_btn"
                  style="color: #122894; border-color: #122894"
                >
                  GO >
                </div>
              </div> -->
              <div class="main_img">
                <img src="../assets/images/index/04.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        
        <!-- 报名 -->
        <div class="form_view">
          <div class="form_row">
            <div class="form_title">
              贵州宝佳睿云校企定向培养班 限额50人 现在仅<span>15</span>人
            </div>
            <div class="f_i_r">
              <input type="text" placeholder="请输入您的姓名" />
              <input type="text" placeholder="请输入您的手机号" />
              <button>提交抢占定向班名额</button>
            </div>
          </div>
        </div>

        <!-- 热门课程 -->
        <div class="hot_class" id="hot_class">
          <div class="class_view">
            <div class="class_title">
              <div class="title_left">
                <div class="title_left_c">热门课程</div>
                <div class="title_left_e">POPULAR COURSE</div>
                <div class="title_left_bottom_line"><span></span></div>
              </div>
              <div class="title_right">
                <div class="title_right_m">move ></div>
                <div class="title_right_t">全国资讯电话：0851-85778698</div>
              </div>
            </div>
            <div class="class_content">
              <div class="class_left">
                <div class="c_l_box">
                  <!-- <div class="l_b_title">VISION</div>
                  <div class="l_b_subtitle">空间设计系列</div>
                  <div class="l_b_line"></div> -->
                  <div class="l_b_img">
                    <img src="../assets/images/index/20.png" alt="" />
                  </div>
                </div>
                <div class="c_l_box">
                  <!-- <div class="l_b_title">INDOOR</div>
                  <div class="l_b_subtitle">视觉设计系列</div>
                  <div class="l_b_line"></div> -->
                  <div class="l_b_img">
                    <img src="../assets/images/index/21.png" alt="" />
                  </div>
                </div>
                <div class="c_l_box">
                  <!-- <div class="l_b_title">HUNTING</div>
                  <div class="l_b_subtitle">IT培训学院</div>
                  <div class="l_b_line"></div> -->
                  <div class="l_b_img">
                    <img src="../assets/images/index/22.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="class-right">
                <div class="c_swier_1">
                  <!-- 空间设计 -->
                  <div class="class_pic" id="class_pic">
                    <span class="prev">
                      <img src="../assets/images/index/left.png" alt="">
                    </span>
                    <ul id="class_call">
                      <li class="class_pic1">
                          <img src="../assets/images/index/23.png" alt="1" />
                      </li>
                      <li class="class_pic2">
                          <img src="../assets/images/index/24.png" alt="2" />
                      </li>
                      <li class="class_pic3">
                          <img src="../assets/images/index/25.png" alt="3" />
                      </li>
                      <li class="class_pic4">
                          <img src="../assets/images/index/23.png" alt="4" />
                      </li>
                      <li class="class_pic5">
                          <img src="../assets/images/index/24.png" alt="5" />
                      </li>
                    </ul>
                    <span class="next">
                      <img src="../assets/images/index/right.png" alt="">
                    </span>
                  </div>

                  <!-- 视觉设计 -->
                  <div class="class_pic_2" id="class_pic_2">
                    <span class="prev_2">
                      <img src="../assets/images/index/left.png" alt="">
                    </span>
                    <ul id="class_call">
                      <li class="class_pic1_2">
                          <img src="../assets/images/index/29.png" alt="1" />
                      </li>
                      <li class="class_pic2_2">
                          <img src="../assets/images/index/30.png" alt="2" />
                      </li>
                      <li class="class_pic3_2">
                          <img src="../assets/images/index/31.png" alt="3" />
                      </li>
                      <li class="class_pic4_2">
                          <img src="../assets/images/index/29.png" alt="4" />
                      </li>
                      <li class="class_pic5_2">
                          <img src="../assets/images/index/30.png" alt="5" />
                      </li>
                    </ul>
                    <span class="next_2">
                      <img src="../assets/images/index/right.png" alt="">
                    </span>
                  </div>

                  <!-- IT培训 -->
                  <div class="class_pic_1" id="class_pic_1">
                    <span class="prev_1">
                      <img src="../assets/images/index/left.png" alt="">
                    </span>
                    <ul id="class_call">
                      <li class="class_pic1_1">
                          <img src="../assets/images/index/26.png" alt="1" />
                      </li>
                      <li class="class_pic2_1">
                          <img src="../assets/images/index/27.png" alt="2" />
                      </li>
                      <li class="class_pic3_1">
                          <img src="../assets/images/index/28.png" alt="3" />
                      </li>
                      <li class="class_pic4_1">
                          <img src="../assets/images/index/26.png" alt="4" />
                      </li>
                      <li class="class_pic5_1">
                          <img src="../assets/images/index/27.png" alt="5" />
                      </li>
                    </ul>
                    <span class="next_1">
                      <img src="../assets/images/index/right.png" alt="">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 师资 -->
        <div class="teacher_row">
          <div class="teacher_row_content">
            <div class="teacher_title">
              <div>宝佳精英讲师团队</div>
              <div>ELITE LECTURER TEAM</div>
            </div>
            <div class="teacher_list">
              <div class="row_b" v-for="(item,index) in ticherList" :key="index">
                <div class="teacher_box">
                  <div class="t_avatar">
                    <div class="avatar_b">
                      <img :src="item.photo" alt="">
                    </div>
                    <div class="avatar_text" v-if="index==0">
                      <span>{{item.name}}</span>
                      <span>{{item.work}}</span>
                    </div>
                  </div>
                  <div class="t_info">
                    <div class="info_t_c">
                      <div>{{item.workYear}}</div>
                      <div>{{item.teachYear}}</div>
                      <div class="t_info_line"></div>
                      <div>参与项目</div>
                      <div>{{item.project}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 视频 -->
        <div class="video_row">
          <div class="video_main">
            <div class="video_big_title">
              <div class="b_t_1">宝佳睿云分阶段学习，定制你的学习方案</div>
              <div class="b_t_2">先报名先就业，平均薪资7K+</div>
            </div>
            <div class="v_m_c">
              <div class="video_left">
                <div class="video_title">
                  <span>精彩视频</span>
                  <span>更多 >></span>
                </div>
                <div class="video_c">
                  <div class="video_player">
                    <div class="video_box">
                      <video-player  class="video-player vjs-custom-skin"
                          ref="videoPlayer"
                          :playsinline="true"
                          :options="playerOptions"
                      ></video-player>
                    </div>
                    <!-- <div class="video_img"></div> -->
                  </div>
                  <div class="video_list">
                    <div class="video_r_l">
                      <div class="video_r_l_b" v-for="(item,index) in 2" :key="index">
                        <div class="video_r_l_b_b">
                          <video-player  class="video-player vjs-custom-skin"
                            ref="videoPlayer"
                            :playsinline="true"
                            :options="playerOptions"
                          ></video-player>
                        </div>
                        <div class="video_r_l_b_i"></div>
                      </div>
                    </div>
                    <div class="video_b_l"></div>
                  </div>
                </div>
                
              </div>
              <div class="video_right">
                <div class="v_right_b">
                  <div class="v_right_t">
                    <span>联合喜马拉雅打造《职场新观察》栏目</span>  
                    <span>更多 >> </span>
                  </div>
                  <div class="v_right_r_1">
                    <div class="r_1_i">
                      <img src="" alt="">
                    </div>
                    <div class="r_1_t">
                      <div class="r_1_t_t">是懂法守法撒打发斯蒂芬：</div> 
                      <div class="r_1_t_c">
                        阿斯顿发大发是的发生的三大法师的法师放大三大法师的法师阿斯顿发送到发送到发送到发送电费发顺丰达撒打发斯蒂芬阿斯顿发顺丰sad发送到发送到发送到发送到发送到发三大法师的法师法定法的发送到发送到发送到发送到发送到发送到发斯蒂芬
                      </div>
                    </div>
                  </div>
                  <div class="r_l_l">
                    <div v-for="(item,index) in 10" :key="index"> 1、沙发斯蒂芬可垃圾的分类卡萨丁房间卡水电费</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 中间间隔 -->
        <div class="midd_add">
          <div class="midd_b">
            <div class="img_box">
              <img src="../assets/images/index/10.png" alt="">
            </div>
            <div class="text_box">
              <div>选择宝佳睿云</div>
              <div>开启你开挂的人生</div>
            </div>
            <div class="btn_box">获取联系</div>
            
          </div>
        </div>
        
        <!-- 职业发展介绍 -->
        <div class="occupation">
          <div class="occupation_content">
            <div class="o_title">关于职业发展，你是否有以下疑惑</div>
            <div class="o_subtitle">职业发展，培训费用，就业情况等问题迎刃而解</div>
            <div class="o_row">
              <div class="o_list">
                <div class="o_box" v-for="(item,index) in doubtList" :key="index">
                  <div class="o_img">
                    <img :src="item.img" alt="">
                  </div>
                  <div class="o_text">{{item.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 学员展示 -->
        <div class="student_content">
          <div class="student_main">
            <div class="student_title">宝佳睿云阶段教学 总有适合你的课程</div>
            <div class="student_list">
              <div class="student_box" v-for="(item,index) in studentList" :key="index">
                <div class="student_a">
                  <img :src="item.money" alt="">
                </div>
                <div class="student_i">
                  <div class="student_n">{{item.name}}</div>
                  <div class="student_p">{{item.work}}</div>
                  <div class="student_m">{{item.photo}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 学员福利 -->
        <div class="welfare">
          <div class="welfare_content">
            <div class="welfare_title">
              <div>宝佳学员专享6大福利</div>
              <div>加入宝佳学习课程 开启锐意人生</div>
            </div>
            <div class="welfare_list">
              <div class="welfare_row">
                <div class="welfare_box" v-for="(item,index) in 6" :key="index">
                  <div class="welfare_img">
                    <img src="../assets/images/index/17.png" alt="">
                  </div>
                  <div class="welfare_text">
                    <div>就业服务</div>
                    <div>根据学员情况，学员自身意愿 提供就业服务</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 面试机会 -->
        <div class="enterprise">
          <div class="enterprise_content">
            <div class="enterprise_title">500家企业合作，面试机会提高300%</div>
            <div class="enterprise_list">
              <div class="enterprise_box" v-for="(item,index) in 3" :key="index">
                <div class="enterprise_img">
                  <img src="../assets/images/index/16.png" alt="">
                </div>
                <div class="enterprise_text">
                  <div>简历指导</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 报名表单 -->
        <div class="enroll">
          <img class="back_img" src="../assets/images/index/15.png" alt="">
          <div class="enroll_content">
            <div class="enroll_left">
              <div class="enroll_input">
                <div class="enroll_label">姓名</div>
                <input type="text">
              </div>
              <div class="enroll_input">
                <div class="enroll_label">QQ/微信</div>
                <input type="text">
              </div>
              <div class="enroll_input">
                <div class="enroll_label">手机号码</div>
                <input type="text">
              </div>
              <div class="enroll_input">
                <div class="enroll_label">留言</div>
                <textarea name="" id="" cols="50" rows="6"></textarea>
              </div>
              <div class="enroll_btn">
                <div>提交</div>
                <div>重置</div>
              </div>
            </div>
            <div class="enroll_right">
              <div class="enroll_right_content">
                <div class="enroll_t1"> <学员协议> </div>
                <div class="enroll_t2">可先就业后付款</div>
                <div class="enroll_t2">不就业免费重学</div>
                <div class="enroll_t3">郑重承诺：学不会免费重学</div>
                <div class="enroll_t4">还在等什么？</div>
                <div class="enroll_t5">
                  <div class="enroll_t5_b">
                    <span>立即点击咨询</span>
                    <img src="../assets/images/index/12.png" alt="">
                    <img src="../assets/images/index/13.png" alt="">
                    <img src="../assets/images/index/14.png" alt="">
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>


      <!-- 关于宝佳 -->
      <div v-show="currentMenu==2">
        <about></about>
      </div>


      <!-- 千家企业 -->
      <div class="cooperation">
        <div class="cooperation_content">
          <div class="cooperation_title" v-show="currentMenu==1">
            <div>千家就业合作企业</div>
            <div>众多合作企业上门招聘宝佳学员，好工作找上门，企业到校宣传招聘，好工作找上门</div>
          </div>
          <div class="cooperation_list">
            <img src="../assets/images/index/32.png" alt="">
            <!-- <div class="cooperation_box" v-for="(item,index) in 15" :key="index">
              <div class="cooperation_logo">
                <img src="../assets/images/index/11.png" alt="">
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- 底部导航 -->
      <div class="bottom_navigation">
        <div class="bottom_navigation_c">
          <div class="bottom_navigation_list">
            <div class="bottom_navigation_box">
              <div class="bottom_navigation_img">
                <img src="../assets/images/components/09.png" alt="" style="width:30px;margin-top:5px;">
              </div>
              <span>关于宝佳睿云</span>
            </div>
            <div class="bottom_navigation_box">
              <div class="bottom_navigation_img">
                <img src="../assets/images/components/10.png" alt="" style="width:28px;margin-top:5px;">
              </div>
              <span>课程</span>
            </div>
            <div class="bottom_navigation_box">
              <div class="bottom_navigation_img">
                <img src="../assets/images/components/11.png" alt="" style="width:35px;margin-top:7px;">
              </div>
              <span>学员作品</span>
            </div>
            <div class="bottom_navigation_box">
              <div class="bottom_navigation_img">
                <img src="../assets/images/components/12.png" alt="" style="width:35px;margin-top:4px;">
              </div>
              <span>就业服务</span>
            </div>
            <div class="bottom_navigation_box">
              <div class="bottom_navigation_img">
                <img src="../assets/images/components/13.png" alt="" style="width:35px">
              </div>
              <span>师资力量</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- 底部 -->
    <bottom></bottom>
    <consult @toTop="toTop"></consult>
  </div>
</template>

<script>
import HeaderView from "@/components/header";
import Bottom from "@/components/bottom";
import searchHeader from "@/components/searchHeader";
import SearchHeader from "@/components/searchHeader.vue";
import Consult from "@/components/consult.vue";
import About from "@/components/about.vue";
import Swiper from "swiper/swiper-bundle.min.js"
import "swiper/swiper-bundle.min.css"
import { videoPlayer } from 'vue-video-player'
import 'video.js/dist/video-js.css'
import localData from '../assets/js/localData'
export default {
  name: "Home",
  components: { HeaderView, Bottom, searchHeader,videoPlayer,SearchHeader,Consult,About },
  data() {
    return {
      bannerList:[
        {
          path:require('../assets/images/index/banner1.jpg'),
          url:'',
        },
        {
          path:require('../assets/images/index/banner2.jpg'),
          url:'',
        },
        {
          path:require('../assets/images/index/banner3.jpg'),
          url:'',
        },
        {
          path:require('../assets/images/index/banner4.jpg'),
          url:'',
        },
        {
          path:require('../assets/images/index/banner5.jpg'),
          url:'',
        }
      ],
      windowHeight: window.innerHeight,
      isSubMenuShow: true,
      menuList:localData.menuList,
      subMenuList:localData.subMenuList,
      studentList:localData.studentList,
      doubtList:localData.doubtList,
      ticherList:localData.ticherList,
      currentMenu:1,
      currentChildMenu:-1,
      currentSubMenu:-1,
      isChildShow:false,
      //视频播放
      playerOptions : {
        playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
        autoplay: false, //如果true,浏览器准备好时开始回放。
        muted: false, // 默认情况下将会消除任何音频。
        loop: false, // 导致视频一结束就重新开始。
        preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
        language: 'zh-CN',
        aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
        fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
        sources: [{
          src: require('../assets/video/video.mp4'),  // 路径
          type: 'video/mp4'  // 类型
        }],
        //poster: "../../static/images/test.jpg", //你的封面地址
        // width: document.documentElement.clientWidth,
        notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
        controlBar: {
          timeDivider: true,
          durationDisplay: true,
          remainingTimeDisplay: false,
          fullscreenToggle: true  //全屏按钮
        },
      }

    };
  },
  mounted() {
    window.addEventListener("scroll", this.windowScroll, true);
    this.initSwiper();
    this.initClassSwiper();
    this.initClassSwiper1();
    this.initClassSwiper2();
  },
  methods: {
    showSubMenu(){
      this.isSubMenuShow = !this.isSubMenuShow;
    },
    //回到顶部
    toTop() {
      document.getElementsByClassName('position-box')[0].scrollIntoView();
    },
    //侧边菜单切换
    changeChildMenu(index){
      this.currentChildMenu = index;
    },
    changeChildMenu1(index){
      this.currentSubMenu = index;
      this.currentChildMenu = -1;
    },
    handleLeave(){
      this.currentSubMenu = -1;
    },
   
    //热门课程空间设计轮播
    initClassSwiper(){
        var that = this;
        var oPic = document.getElementById('class_pic');
        var oPrev = this.getByClass(oPic, 'prev')[0];
        var oNext = this.getByClass(oPic, 'next')[0];
        var aLi = oPic.getElementsByTagName('li');
        var arr = [];
        for (var i = 0; i < aLi.length; i++) {
            var oImg = aLi[i].getElementsByTagName('img')[0];
            arr.push([parseInt(this.getStyle(aLi[i], 'left')), parseInt(this.getStyle(aLi[i], 'top')),
            this.getStyle(aLi[i], 'zIndex'), oImg.width, parseFloat(this.getStyle(aLi[i], 'opacity') * 100)]);
        }
        oPrev.onclick = function moveTP() {
            arr.push(arr[0]);
            arr.shift();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }

        }
        oNext.onclick = function moveTN() {
            arr.unshift(arr[arr.length - 1]);
            arr.pop();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }
        }
        var moveTime = setInterval(function () {
            oNext.click();
        }, 5000);
        document.getElementById('class_pic').onmouseover = function () {
            clearInterval(moveTime);
        }
        document.getElementById('class_pic').onmouseleave = function () {
            moveTime = setInterval(function () {
                oNext.click();
            }, 3000);
        }
    },
    //热门课程室内设计轮播
    initClassSwiper1(){
        var that = this;
        var oPic = document.getElementById('class_pic_1');
        var oPrev = this.getByClass(oPic, 'prev_1')[0];
        var oNext = this.getByClass(oPic, 'next_1')[0];
        var aLi = oPic.getElementsByTagName('li');
        var arr = [];
        for (var i = 0; i < aLi.length; i++) {
            var oImg = aLi[i].getElementsByTagName('img')[0];
            arr.push([parseInt(this.getStyle(aLi[i], 'left')), parseInt(this.getStyle(aLi[i], 'top')),
            this.getStyle(aLi[i], 'zIndex'), oImg.width, parseFloat(this.getStyle(aLi[i], 'opacity') * 100)]);
        }
        oPrev.onclick = function moveTP() {
            arr.push(arr[0]);
            arr.shift();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }

        }
        oNext.onclick = function moveTN() {
            arr.unshift(arr[arr.length - 1]);
            arr.pop();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }
        }
        var moveTime = setInterval(function () {
            oNext.click();
        }, 5000);
        document.getElementById('class_pic_1').onmouseover = function () {
            clearInterval(moveTime);
        }
        document.getElementById('class_pic_1').onmouseleave = function () {
            moveTime = setInterval(function () {
                oNext.click();
            }, 3000);
        }
    },
    //热门课程IT轮播
    initClassSwiper2(){
        var that = this;
        var oPic = document.getElementById('class_pic_2');
        var oPrev = this.getByClass(oPic, 'prev_2')[0];
        var oNext = this.getByClass(oPic, 'next_2')[0];
        var aLi = oPic.getElementsByTagName('li');
        var arr = [];
        for (var i = 0; i < aLi.length; i++) {
            var oImg = aLi[i].getElementsByTagName('img')[0];
            arr.push([parseInt(this.getStyle(aLi[i], 'left')), parseInt(this.getStyle(aLi[i], 'top')),
            this.getStyle(aLi[i], 'zIndex'), oImg.width, parseFloat(this.getStyle(aLi[i], 'opacity') * 100)]);
        }
        oPrev.onclick = function moveTP() {
            arr.push(arr[0]);
            arr.shift();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }

        }
        oNext.onclick = function moveTN() {
            arr.unshift(arr[arr.length - 1]);
            arr.pop();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }
        }
        var moveTime = setInterval(function () {
            oNext.click();
        }, 5000);
        document.getElementById('class_pic_2').onmouseover = function () {
            clearInterval(moveTime);
        }
        document.getElementById('class_pic_2').onmouseleave = function () {
            moveTime = setInterval(function () {
                oNext.click();
            }, 3000);
        }
    },

    getByClass(oParent, sClass) {
        var aResult = [];
        var aEle = oParent.getElementsByTagName('*');
        for (var i = 0; i < aEle.length; i++) {
            if (aEle[i].className == sClass) {
                aResult.push(aEle[i]);
            }
        }
        return aResult;
    },
    
    getStyle(obj, name) {
        if (obj.currentStyle) {
            return obj.currentStyle[name];
        }else {
            return getComputedStyle(obj, false)[name];
        }
    },
    
    startMove(obj, json, fnEnd) {
       var that = this;
        clearInterval(obj.timer);
        obj.timer = setInterval(function () {
            var bStop = true;
            for (var attr in json) {
                var cur = 0;
                if (attr == 'opacity') {
                    cur = Math.round(parseFloat(that.getStyle(obj, attr)) * 100);
                }else {
                    cur = parseInt(that.getStyle(obj, attr));
                }
                var speed = (json[attr] - cur) / 6;
                speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
                if (cur != json[attr]) bStop = false;
                if (attr == 'opacity') {
                    obj.style.filter = 'alpha(opacity:' + (cur + speed) + ')';
                    obj.style.opacity = (cur + speed) / 100;
                }else {
                    obj.style[attr] = cur + speed + 'px';
                }
            }
            if (bStop) {
                clearInterval(obj.timer);
                if (fnEnd) fnEnd();
            }
        }, 40)
    },

    initSwiper(){
      // 轮播图 · 初始化设定
      new Swiper(".swiper-container",{
          loop:true, //循环
          speed:1000,
          autoplay : {
            delay:5000
          },
          pagination: { //分页符
              el: '.swiper-pagination',
          },
      })
    },

   
   
    //顶部菜单切换
    changeMenu(index) {
      this.currentMenu = index;
      if(index==1){
       
      }
    },

    onSwiper(swiper) {
      console.log(swiper);
    },
    //轮播切换
    onSlideChange() {
      console.log("slide change");
    },
    windowScroll(e) {
      let scrollTop = e.target.scrollTop;
      let scroll = scrollTop - this.i;
      this.i = scrollTop;
      if (scroll > 0) {
        if (e.target.scrollTop >= 900) {
          const domList = document.getElementsByClassName("c_l_box");
          const titleDom = document.querySelector(".title_left_c");
          const subtitleDom = document.querySelector(".title_left_e");
          const bottmLineDom = document.querySelector(".title_left_bottom_line");
          const moreDom = document.querySelector(".title_right_m");
          const telDom = document.querySelector(".title_right_t");

          let dom1 = domList[0];
          let dom2 = domList[1];
          let dom3 = domList[2];
          dom1.style.display = "block";
          titleDom.style.display = "block";
          moreDom.style.display = "block";
          dom1.classList.add(
            "animate__animated",
            "animate__slideInLeft",
          );
          titleDom.classList.add(
            "animate__animated",
            "animate__slideInLeft",
          );
          moreDom.classList.add(
            "animate__animated",
            "animate__slideInRight",
          );
          setTimeout((res) => {
            dom2.style.display = "block";
            subtitleDom.style.display = "block";
            telDom.style.display = "block";
            dom2.classList.add("animate__animated", "animate__slideInLeft");
            subtitleDom.classList.add(
              "animate__animated",
              "animate__slideInLeft"
            );
            telDom.classList.add("animate__animated", "animate__slideInRight");
          }, 100);
          setTimeout((res) => {
            dom3.style.display = "block";
            bottmLineDom.style.display = "flex";
            dom3.classList.add("animate__animated", "animate__slideInLeft");
            bottmLineDom.classList.add(
              "animate__animated",
              "animate__slideInLeft"
            );
          }, 200);
        }
      }
    },
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.windowScroll, true);
    if (this.player) {
        this.player.dispose()
    }
  },
};
</script>

<style lang="stylus" scoped>
  @import '../assets/css/pages/index';
  @import '../assets/css/pages/classSwiper.css'
</style>
