<template>
  <div class="b_about">
    <!-- banner图 -->
    <div class="about_banner">
      <img class="about_banner_img" src="../assets/images/components/about/01.png" alt="">
      <div class="sub_img_content">
        <div class="img_content_view">
          <div>
            <img class="subtitle" src="../assets/images/components/about/03.png" alt="">
          </div>
          <div>
            <img class="title" src="../assets/images/components/about/02.png" alt="">
          </div>
          <div>
            <img class="subtitle" src="../assets/images/components/about/04.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- 关于宝佳文字介绍 -->
    <div class="about_text">
      <div class="about_text_content">
        <div class="school_img">
          <img src="../assets/images/components/about/05.png" alt="">
        </div>
        <div class="school_text">
          <div class="school_text_title">宝佳睿云，专注IT教育培训</div>
          <div class="school_text_content_1">
            贵阳市南明区宝佳睿云职业培训学校，是经贵阳市南明区人力资源和社会保障局批准成立的职业技能培训学校，主要从事教育项目开发，职业技
          </div>
          <div class="school_text_content_2">
            阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声
          </div>
        </div>
      </div>
    </div>

    <!-- 发展历程 -->
    <div class="about_history">
      <div class="history_content">
        <div class="history_title">
          <img src="../assets/images/components/about/32.png" alt="">
        </div>
        <div class="history_subtitle">
          <img src="../assets/images/components/about/33.png" alt="">
        </div>
        <div class="history_box">
          <div class="color_line first_line">
            <img src="../assets/images/components/about/06.png" alt="">
            <span>2010</span>
          </div>
          <div class="content_row">
            <div class="content_text first">
              <div>7月·宝佳动力在北京注册成立</div>
              <div>10月·郑州校区开始第一个新职场</div>
              <div>11月·郑州校区Unity3D培训首期火爆开班 </div>
            </div>
            <div class="content_img">
              <img src="../assets/images/components/about/07.png" alt="">
              <img src="../assets/images/components/about/08.png" alt="">
            </div>
          </div>

          <div class="color_line second_line">
            <img src="../assets/images/components/about/09.png" alt="">
            <span>2012</span>
          </div>
          <div class="content_row">
            <div class="content_img">
              <img src="../assets/images/components/about/10.png" alt="">
              <img src="../assets/images/components/about/11.png" alt="">
            </div>
            <div class="content_text second">
              <div>2月·郑州校区迁至东三街职场</div>
              <div>3月·HTML5课程耀世登场</div>
              <div>3月·Unity3D首期班两周内百分百就业</div>
              <div>7月·VR研发签约腾讯大豫网</div>
              <div>7月·HTML5首期班就业平均薪资9683元，最高薪资15K</div>
              <div>8月·宝佳学院全体员工云台山之旅</div>
            </div>
          </div>

          <div class="color_line third_line">
            <img src="../assets/images/components/about/12.png" alt="">
            <span>2012</span>
          </div>
          <div class="content_row">
            <div class="content_text third">
              <div>9月·宝佳学院贵阳校区开幕</div>
              <div>9月·宝佳学院官方网站全新改版</div>
              <div>10月·UI产品经理班级爆满</div>
              <div>12月·挂牌成立宝佳学院“毕业生实习就业基地”</div>
            </div>
            <div class="content_img first_img">
              <img src="../assets/images/components/about/13.png" alt="">
              <img src="../assets/images/components/about/14.png" alt="">
            </div>
          </div>


        </div>
      </div>

    </div>

    <!-- 设计人员 -->
    <div class="about_design">
      <div class="design_cintent">
        <div class="design_title"> 实战派设计人员 </div>
        <div class="design_subtitle">
          <div class="subtitle_text">
            宝佳通过“面试、项目测试、复试、试讲、教研培训”五大步骤严格选拔设计讲师，确保每位讲师都拥有丰富的项目经验。 进入宝佳的他们大
          </div>
          <div class="design_handle_btn">
            <div :class="{btn_on:!isRight}" @click="changeWay('left')">
              <img v-if="!isRight" src="../assets/images/components/about/40.png" alt="">
              <img v-else src="../assets/images/components/about/41.png" alt="">
            </div>
            <div :class="{btn_on:isRight}" @click="changeWay('right')">
              <img v-if="!isRight" src="../assets/images/components/about/39.png" alt="">
              <img v-else src="../assets/images/components/about/38.png" alt="">
            </div>
          </div>
        </div>
        <div class="designer_list">
          <div class="designer_box" v-for="(item,index) in designerList" :key="index">
            <div class="designer_avatar">
              <img :src="item.photo" alt="">
            </div>
            <div class="designer_text">
              <div class="text_f"><span>{{item.name}}</span><span>{{item.work}}</span></div>
              <div class="text_s">{{item.workYear}}</div>
              <div class="text_t">{{item.project}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 课程研发 -->
    <div class="about_dev">
      <div class="dev_content">
        <div class="dev_title">课程研发，项目实战</div>
        <div class="dev_sub_1">宝佳课程由专门课程研发团队自主研发，课程设计紧跟互联网潮流，将前沿的设计融入课程中，并且每年持续精进课程内容和教学建设。</div>
        <div class="dev_sub_2">《UI设计精英课程》《平面设计精英课程》《室内设计精英课程》等课程，高薪就业率更高达百分之80%。</div>
        <div class="dev_img_list">
          <div class="dev_img_box">
            <img src="../assets/images/components/about/23.png" alt="">
            <span>UI设计精英课程</span>
          </div>
          <div class="dev_img_box">
            <img src="../assets/images/components/about/24.png" alt="">
            <span>平面设计精英课程</span>
          </div>
          <div class="dev_img_box">
            <img src="../assets/images/components/about/25.png" alt="">
            <span>室内设计精英课程</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 教学环境 -->
    <div class="about_science">
      <div class="science_content">
        <div class="science_title"><span>教学环境</span><span>/TEACHING ENVIRONMENT</span></div>
        <div class="scie_row first">
          <div>
            <img src="../assets/images/components/about/26.png" alt="">
            <img src="../assets/images/components/about/27.png" alt="">
          </div>
          <div>
            <img src="../assets/images/components/about/28.png" alt="">
          </div>
        </div>
        <div class="scie_row second">
          <div>
            <img src="../assets/images/components/about/29.png" alt="">
          </div>
          <div>
            <img src="../assets/images/components/about/30.png" alt="">
            <img src="../assets/images/components/about/31.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- 就业服务 -->
    <div class="about_emp">
      <div class="emp_content">
        <div class="emp_title">
          <div class="left_line"></div>
          <div class="middle_en">Employment Service</div>
          <div class="right_line"></div>
        </div>
        <div class="emp_sub">就业服务</div>
        <div class="emp_text">阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地阿萨德发撒地方撒旦法师法师法师打发士大夫撒旦法师的发送到发送到发送到发送到发斯蒂芬阿道夫撒大声地</div>
      </div>
    </div>

  </div>
</template>

<script>
import localData from '../assets/js/localData'
 export default {
  name: 'Home',
  components: {},
  data(){
    return {
      isRight:false,
      designerList:localData.designerList,
    }
  },
  methods:{
    changeWay(way){
      if(way=='left'){
        this.isRight = false;
      }else{
        this.isRight = true;
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
  @import '../assets/css/components/about'
</style>
