<template>
  <div class="b_bottom">
    <div class="b_first_row">
      <div class="b_f_r_c">
        <div class="f_l">
          <div class="f_l_t">
            <span>专注互联网教育-宝佳睿云高新技术学院</span>
            <span class="line"></span>
          </div>
          <div class="f_l_r">
            <span>快捷通道</span>
            <span>关于宝佳睿云</span>
          </div>
          <div class="f_l_r">
            <span>小区师资</span>
            <span>学校简介</span>
          </div>
          <div class="f_l_r">
            <span>就业服务</span>
            <span>学历直通车</span>
          </div>
          <div class="f_l_r">
            <span>专业设置</span>
            <span>学院地址</span>
          </div>
        </div>
        <div class="f_m">
          <div class="f_m_c">
            <img src="../assets/images/components/03.png">
            <div>手机网站</div>
          </div>
          <div class="f_m_c">
            <img src="../assets/images/components/04.png">
            <div>微信公众号</div>
          </div>
        </div>
        <div class="f_r">
          <div class="tel">
            <img src="../assets/images/components/05.png"/>
            <span>全国统一咨询热线</span>
          </div>
          <div class="tel_num">0851-85778698</div>
        </div>
      </div>
    </div>
    <div class="b_second_row">
      <span>学院地址：贵阳市花果园财富广场R2区1号楼3711</span>
      <span class="m_s">黔ICP备2006850号-1</span>
      <img src="../assets/images/components/06.jpg"/>
    </div>
  </div>
</template>

<script>
 export default {
  name: 'Home',
  components: {},
  data(){
    return {
      
    }
  }
}
</script>

<style lang="stylus" scoped>
   @import '../assets/css/components/bottom'
</style>
