<template>
  <div class="consult_container">
    <div class="consult_content"> 
      <div class="consult_box">
        <div class="consult_img_box">
            <img src="../assets/images/components/32.png" alt="">
        </div>
        <div class="consult_img_box">
            <img src="../assets/images/components/33.png" alt="">
            <img class="hover_img" src="../assets/images/components/04.png" alt="">
        </div>
        <div class="consult_img_box">
            <img src="../assets/images/components/34.png" alt="">
            <img class="hover_img" src="../assets/images/components/04.png" alt="">
        </div>
        <div class="consult_img_box">
            <img src="../assets/images/components/35.png" alt="">
            <div class="tel_box">
              <span>0851-85778698</span>
              <img src="../assets/images/components/35.png" alt="">
            </div>
        </div>
        <div class="consult_img_box">
            <img src="../assets/images/components/36.png" alt="">
            <img class="hover_img" src="../assets/images/components/04.png" alt="">
        </div>
        <div class="consult_img_box" @click="toTop">
            <img src="../assets/images/components/37.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>

 export default {
  name: 'Home',
  components: {},
  data(){
    return {
      
    }
  },
  methods:{
    toTop(){
      this.$emit('toTop')
    }
  }
}
</script>

<style lang="stylus" scoped>
   @import '../assets/css/components/consult'
</style>
