<template>
  <div class="b_header">
    <div class="b_header_main">
      <div class="b_header_menu">
        <span @click="indexPage">首页</span>
        <span @click="addFav">加入收藏</span>
      </div>
      <div class="b_header_contact">
        <div class="contact_box">
          <img src="../assets/images/components/01.png"/>
          <span>手机网</span>
        </div>
        <div class="contact_box">
          <img src="../assets/images/components/02.png"/>
          <span>微信</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
 export default {
  name: 'Home',
  components: {},
  data(){
    return {
      
    }
  },
  methods:{
    //跳转首页
    indexPage(){
      
    },
    //添加搜收藏夹
    addFav(){
      var title = this.$route.meta.title;
      var URL = this.$route.fullPath;
      if(document.all){
            window.external.addFavorite(URL,title );
      }else if(window.sidebar){
            window.sidebar.addPanel(title, URL,'');
        }
    },
    

  }
}
</script>

<style lang="stylus" scoped>
  @import '../assets/css/components/header'
</style>
