<template>
  <div class="b_s_header">
      <div class="s_h_main">
          <div class="h_logo">
              <img src="../assets/images/components/07.png" alt="">
              <div class="n_box">
                  <div class="name">宝佳睿云职业学校</div>
                  <div class="sub_name">宝佳睿云高薪技术学校</div>
              </div>
          </div>
          <div class="h_search">
              <div class="input_row">
                  <input v-model="keyWords" placeholder="UI设计培训">
                  <div class="search_btn">
                      <img src="../assets/images/components/08.png" alt="">
                  </div>
              </div>
              <div class="h_search_item">
                  <div class="item_box">IT技术培训</div>
                  <div class="item_box">平面设计培训</div>
                  <div class="item_box">UI设计培训</div>
                  <div class="item_box">室内设计培训</div>
                  <div class="item_box">大数据培训</div>
              </div>
          </div>
          <div class="h_tel">
              <div class="tel_title">全国统一咨询电话</div>
              <div class="tel_num">0851-85778698</div>
          </div>
      </div>
  </div>
</template>

<script>
 export default {
  name: 'Home',
  components: {},
  data(){
    return {
      keyWords:'',
    }
  },
  methods:{
    //跳转首页
    indexPage(){
      
    },
    //添加搜收藏夹
    addFav(){
      var title = this.$route.meta.title;
      var URL = this.$route.fullPath;
      if(document.all){
            window.external.addFavorite(URL,title );
      }else if(window.sidebar){
            window.sidebar.addPanel(title, URL,'');
        }
    },
    

  }
}
</script>

<style lang="stylus" scoped>
  @import '../assets/css/components/searchHeader'
</style>
