<template>
  <div class="v_swiper">
    <div class="class_pic" id="class_pic">
        <span class="prev"></span>
        <ul id="class_call">
        <li class="class_pic1">
            <img src="../assets/images/index/23.png" alt="1" />
        </li>
        <li class="class_pic2">
            <img src="../assets/images/index/24.png" alt="2" />
        </li>
        <li class="class_pic3">
            <img src="../assets/images/index/25.png" alt="3" />
        </li>
        <li class="class_pic4">
            <img src="../assets/images/index/23.png" alt="4" />
        </li>
        <li class="class_pic5">
            <img src="../assets/images/index/24.png" alt="5" />
        </li>
        </ul>
        <span class="next"></span>
    </div>
  </div>
</template>

<script>
 export default {
  name: 'Home',
  props:['options'],
  components: {},
  data(){
    return {
        
    }
  },
  mounted() {
    this.initClassSwiper
    ();
  },
  methods:{
    initClassSwiper(){
        var that = this;
        var oPic = document.getElementById('class_pic');
        var oPrev = this.getByClass(oPic, 'prev')[0];
        var oNext = this.getByClass(oPic, 'next')[0];
        var aLi = oPic.getElementsByTagName('li');
        var arr = [];
        for (var i = 0; i < aLi.length; i++) {
            var oImg = aLi[i].getElementsByTagName('img')[0];
            arr.push([parseInt(this.getStyle(aLi[i], 'left')), parseInt(this.getStyle(aLi[i], 'top')),
            this.getStyle(aLi[i], 'zIndex'), oImg.width, parseFloat(this.getStyle(aLi[i], 'opacity') * 100)]);
        }
        oPrev.onclick = function moveTP() {
            arr.push(arr[0]);
            arr.shift();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }

        }
        oNext.onclick = function moveTN() {
            arr.unshift(arr[arr.length - 1]);
            arr.pop();
            for (var i = 0; i < aLi.length; i++) {
                var oImg = aLi[i].getElementsByTagName('img')[0];
                aLi[i].style.zIndex = arr[i][2];
                that.startMove(aLi[i], { left: arr[i][0], top: arr[i][1], opacity: arr[i][4] });
                that.startMove(oImg, { width: arr[i][3] });
            }
        }
        var moveTime = setInterval(function () {
            oNext.click();
        }, 5000);
        document.getElementById('class_pic').onmouseover = function () {
            clearInterval(moveTime);
        }
        document.getElementById('class_pic').onmouseleave = function () {
            moveTime = setInterval(function () {
                oNext.click();
            }, 3000);
        }
    },
    getByClass(oParent, sClass) {
        var aResult = [];
        var aEle = oParent.getElementsByTagName('*');
        for (var i = 0; i < aEle.length; i++) {
            if (aEle[i].className == sClass) {
                aResult.push(aEle[i]);
            }
        }
        return aResult;
    },
    
    getStyle(obj, name) {
        if (obj.currentStyle) {
            return obj.currentStyle[name];
        }else {
            return getComputedStyle(obj, false)[name];
        }
    },
    
    startMove(obj, json, fnEnd) {
       var that = this;
        clearInterval(obj.timer);
        obj.timer = setInterval(function () {
            var bStop = true;
            for (var attr in json) {
                var cur = 0;
                if (attr == 'opacity') {
                    cur = Math.round(parseFloat(that.getStyle(obj, attr)) * 100);
                }else {
                    cur = parseInt(that.getStyle(obj, attr));
                }
                var speed = (json[attr] - cur) / 6;
                speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
                if (cur != json[attr]) bStop = false;
                if (attr == 'opacity') {
                    obj.style.filter = 'alpha(opacity:' + (cur + speed) + ')';
                    obj.style.opacity = (cur + speed) / 100;
                }else {
                    obj.style[attr] = cur + speed + 'px';
                }
            }
            if (bStop) {
                clearInterval(obj.timer);
                if (fnEnd) fnEnd();
            }
        }, 40)
    },
  }
}
</script>

<style  scoped>
  @import '../assets/css/components/classSwiper.css'
</style>
